.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 10%;
}
.app-title {
  font-size: 1.5rem;
  color: #cfe1b0;
  font-weight: bold;
}
.sign-up {
  color: #cfe1b0;
  border: 2px solid #c4b84e;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.sign-up:hover {
  background-color: #c4b84e;
  color: #343617;
}
